.button {
  padding: 10px;
  border-radius: 10px;
}

.orange {
  background: orange;
  border: solid 2px orange;
}

.indianred {
  background: indianred;
  border: solid 2px indianred;
}

.chocolate{
  background: chocolate;
  border: solid 2px chocolate;
}
