.row {
  margin: 10px;

  .id {
    width: 10%;
  }

  .description {
    width: 70%;
  }

  .price {
    width: 20%;
  }

  .id, .description, .price {
    align-self: center;
  }

  .button {
    padding: 10px;
    background: indianred;
    border: solid 2px indianred;
    border-radius: 10px;
  }
}
