.header {
  margin-bottom: 20px;
  background: cornflowerblue;
  padding: 30px 50px;
  flex-wrap: wrap-reverse;

  @media (max-width: 723px) {
    padding: 0 50px;
  }
}

app-button {
    width: 150px;
}
