<div class="space-between flex-column">
  <div class="flex-row">
    <div class="id">
      <span>ID</span>
    </div>
    <div class="description">
      <span>Name</span>
    </div>
    <div class="price">
      <span>Preis</span>
    </div>
  </div>
  <div class="flex-row">
    <div class="id">
      <span>1</span>
    </div>
    <div class="description">
      <span>Pizza Margarita</span>
    </div>
    <div class="price">
      <span>4.50 €</span>
    </div>
  </div>
  <div class="flex-row">
    <div class="id">
      <span>2</span>
    </div>
    <div class="description">
      <span>Pizza Salami</span>
    </div>
    <div class="price">
      <span>5.50 €</span>
    </div>
  </div>
</div>
