.row {
  margin: 10px;

  .id {
    width: 10%;
  }

  .description {
    width: 70%;
  }

  .price {
    width: 20%;
  }

  .id, .description, .price {
    align-self: center;
  }

  .button {
    background: orange;
    border: solid 2px orange;
  }
}
