<form class="contact-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-input">
    <div>
      <label for="name">Ihr Name:</label>
    </div>
    <div>
      <input id="name" type="text" formControlName="name">
    </div>
  </div>

  <div class="text-input">
    <div>
      <label for="message">Ihre Nachricht:</label>
    </div>
    <div>
      <input type="text" id="message" formControlName="message">
    </div>
  </div>

  <div class="category-select">
    <app-dropdown [options]="options" (notify)="onChange($event)"></app-dropdown>
  </div>
  <app-button label="Senden" (notify)="onSubmit()" color="orange"></app-button>
</form>
